@import "../stylesheets/color";


.body {
  margin:0;
}

.container{
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $colorPrimary;

}
.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: $colorWhite;
  //opacity: 0.7;
  text-align: center;
  padding: 40vh 0;
  margin: 0;

}

.title {
  padding: 0;
  margin:.25em;
  font-weight: bold;
}

.subtitle {
  padding: 0;
}
