@import "../stylesheets/color";


.container {
  display: inline;
  position: relative;
  float: right;
  margin: 15px;
  padding: 8px;
  padding-bottom: 15px;
  opacity: 0.8;

}

a {
  text-decoration: none;
  color: inherit;
}

.fillbox{
  background-color: $colorSecondary;
  display: block;
  width: 0%;
  -webkit-transition: width 0.1s; /* For Safari 3.1 to 6.0 */
  transition: width 0.1s;

  height: 1em;
  position: absolute;
  transform: translateY(8px) translateX(-8px);
  z-index: -1;

}


.container:hover .fillbox {
  //border-bottom: 1.5px solid $colorPrimary;
  opacity: 1;
  display: block;
  width: 100%;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}
