@import "../stylesheets/color";


.container {
  width: 100%;
  height: 100px;
}

.logo {
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 50px 20px 50px;

}

.logoImg {
  position: relative;
  width: 185px;
}



.menu {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 50px 20px 50px;
  margin: 0;





}
